/* styles/toastStyles.css */
.black-background {
  background-color: #333 !important;
  /* Background color */
  color: #fff !important;
  /* Font color */
  padding: 15px;
  border-radius: 8px;
}

.grow-font-size {
  font-size: 1.2em;
  /* Increase the font size */
}

.fancy-progress-bar {
  background-color: #ff4a17 !important;
  /* Progress bar color */
}